@import "~bootstrap/scss/bootstrap";
@import "./keyboardStyles";
$fa-font-path: "/webfonts";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "./node_modules/@fortawesome/fontawesome-free/scss/regular";
$white: #ffffff;
:root {
    --themeColor: #fcf836;
    --stageColor: #ffffff;
    --offStageColor: #070122;
    --secondaryColor: #fdb75b;
    --thirdColor: #000000;
    --mainText: #05070a;
    --offText: #e8e9eb;
    --activeColor: #875cfd;
    --secondaryActiveColor: #ffffff;
    --hoverColor1: #8d0905;
    --focusColor: #fc96d141;
}
.rootDark {
    --themeColor: #011e38;
    --stageColor: #07001f;
    --offStageColor: #070122;
    --secondaryColor: #042b30;
    --thirdColor: #ffffff;
    --mainText: #d7d7d8;
    --offText: #e8e9eb;
    --activeColor: #05070a;
    --secondaryActiveColor: #07001f;
    --hoverColor1: #8d0905;
    --focusColor: #fc96d141;
}
body {
    font-family: Verdana, sans-serif;
    background-color: var(--stageColor);
    position: relative;
    margin: 0;
    transition: background-color .3s;
    max-width: 100vw;
    overflow-x: hidden;
}
.hidden {
    visibility: hidden;
    position: absolute;
    .keyboard__row {
        display: none;
    }
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 10px;
    top: 0;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
    max-width: 100vw;
    background-color: var(--offStageColor);
}
.app__name {
    color: var(--offText);
    cursor: default;
}
//
@media (max-width: 1020px) {
    .content {
        max-width: 100vw;
    }
}
@media (max-width: 576px) {
    .header {
        height: 60px;
    }
}
//
.theme__switcher {
    height: 50px;
    width: 50px;
    padding: 3px 3px 5px 5px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: var(--thirdColor);
    border: none;
    border-radius: 0;
    border-bottom-left-radius: 6px;
    outline: none;
}
//
.content {
    padding: 30px 15px;
}
//
.form-control:focus {
    border-color: var(--focusColor);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--focusColor);
}
.theme__switcher:focus {
    outline: none;
    box-shadow: 0 0 0 0;
}
.theme__switcher::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f185';
    color: var(--secondaryActiveColor);
    font-size: 30px;
}
form {
    position: relative;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
form::before {
    position: absolute;
    left: 6px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f002';
    font-size: 22px;
    line-height: 30px;
    color: var(--offText);
}
.search__input {
    display: inline-block;
    flex: 1 0 70%;
    width: 70vw;
    height: 30px;
    text-indent: 20px;
    box-sizing: border-box;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.loading__spinner {
    position: absolute;
    right: 14%;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--hoverColor1);
    visibility: hidden;
}
.loading__spinner.loading {
    visibility: visible;
    animation: rotate 0.9s ease-in-out infinite;
}
.search__btn {
    flex: 0 1 9%;
    padding-bottom: 5px;
    cursor: pointer;
    height: 30px;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-sizing: border-box;
    line-height: 15px;
    background-color: var(--activeColor);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $white;
}
.keyboard__activation,
.clear-search__btn {
    position: absolute;
    right: 9%;
    flex: 0 1 10%;
    padding: 0;
    height: 30px;
    width: 50px;
    border: none;
    box-sizing: border-box;
    line-height: 19px;
    background-color: transparent;
    cursor: pointer;
}
.keyboard__activation::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--activeColor);
    font-size: 30px;
    content: '\f11c';
    padding: 0;
    line-height: 26px;
    transition: color .2s;
    transition-property: font-size, color;
}
.keyboard__activation:hover::after {
    color: var(--hoverColor1);
}
.keyboard__activation.deactivate::after {
    font-weight: 900;
    content: '\f410';
    color: var(--hoverColor1);
}
.clear-search__btn {
    height: 30px;
    width: 30px;
    font-size: 28px;
    color: var(--activeColor);
    transition: font-size .2s;
    transition-property: font-size, color;
}
.loading__spinner, 
.clear-search__btn {
    right: 16%;
}
.keyboard__activation:active::after,
.clear-search__btn:active {
    font-size: 1.4em;
}
.alert__warnings {
    height: 35px;
    max-height: 35px;
    width: 100%;
    padding: 5px 0;
}
.alert {
    margin: 0 auto;
    color: #8d0905;
}
//
.swiper-container {
    position: relative;
    z-index: 1;
    width: 100%;
    //height: 300px;
}
@media (max-width: 1020px) {
    .keyboard__activation {
        right: calc(18vw - 9%);
    }
}
@media (max-width: 768px) {
    .keyboard__activation {
        right: calc(25vw - 10%);
    }
}
@media (max-width: 576px) {
    form {
        justify-content: center;
    }
    .keyboard__activation {
        right: 2%;
        top: 5px;
    }
    .search__input {
        width: 100%;
        flex: 1 0 100%;
        margin: 5px 0 5px;
    }
    .search__btn {
        align-self: flex-end;
    }
}
//
.search_results {
    padding: 30px 0;
}
//
.movie-card {
    display: flex;
    color: var(--mainText);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 5px;
    flex-wrap: wrap;
}
.movie-card_title {
    height: 28px;
    max-height: 28px;
    margin: 0 0 10px;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 14px;
}
.movie-card_poster {
    width: 100%;
    height: 400px;
    max-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid var(--secondaryColor);
    border-bottom: none;
}
.mini__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 30px;
    background-color: var(--activeColor);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 2px solid var(--secondaryColor);
    border-top: none;
    .movie-card_year {
        flex: 0 1 22%;
        color: var(--offText);
    }
    .movie-card_rate {
        flex: 0 1 22%;
        color: var(--offText);
    }
    .movie-card_rate::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f005';
        color: #dbdf0f;
        padding-right: 2px;
    }
}
//
.background__flow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 150vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.7;
    transition: opacity .3s;
}
.appear-from-top {
    animation: slide-from-top linear .2s 1;
}
//
@keyframes slide-from-top {
    from {
        top: -100vh;
    }
    to {
        top: 0;
    }
}
@keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}